*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
:root {
    --primary-color: #0f3e05;
    --secondary-color: #ffc135;
    --tertiary-color: #df1c1c;
    --text-dark: #212529;
    --white: #ffffff;
    --max-width: 1100px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
}

body{
   background-image: url(background.png);
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
.logo img{
    width: 60px;
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: var(--btn-color);
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid rgb(178, 183, 21);
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    position: a;
    
}

  
.btn:hover {
    background-color: var(--primary-color);
}


.home{
    padding: 1rem 7%;
    background: url(background.png);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.home-image{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.home-image img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -40%);
    animation: mymove 5s infinite ease-in-out;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.home-text-content{
    padding: 0 8rem;
}
.home-text-content h1{
    font-size: 45px;
    color: #7a891b;
}
.home-text-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid rgb(105, 154, 14);
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}


.main{
    width: 1170px;
    position: absolute;

}
.section-title{
    text-align: center;
    margin-bottom: 80px;

}
.section-title h1{
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-top: 750px;
    color: #fff;
    margin-left: px;
     
}
.section-title h1::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #ea590a;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-title p{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-left: 15px;
}
.menus{
    margin-left: 500px;
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;

}

section{
    display: flex;
    flex-direction: column;
}
.menu-column{
    width: 31%;
}
.menu-column h4{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;

}
.menu-column h4::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ea590a;
    bottom: 0;
}
.single-menu{
    display: flex;
    align-items: center;
}
.single-menu img{
    border-radius: 50%;
    max-width: 110px;
    border: 1px dashed #ea590a;
    padding: 3px;
    margin-right: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
}
.menu img{
    border-radius: 50%;
    max-width: 110px;
    border: 1px dashed #ea590a;
    padding: 3px;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;

}
.menu h1{
    margin-left: 150px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.menu h5{
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.menu p{
    margin-left: 150px;
    font-size: 10px;
    color: #fff;
}
.home-2{
    width: 100px;
}
.home-2 img{
    width: 1170px;
    margin-left: 50px;
    margin-top: 130px;
    box-shadow: #ea590a;
}